<section class="letter" id="letter">
    <p class="date mt-4 text-muted">July 23, 2024</p>
    <hr>
    <p>We, the undersigned, are volunteer contributors to the Stack Exchange Network. The following is a warning, a 
       warning that we sincerely hope that Stack Exchange Inc. will heed. Stack Exchange Inc. This is an attempt to get 
       Stack Exchange Inc. to listen to and value the community and to undo the change to the data dump process, without
       a strike or other more destructive means. However, should Stack Exchange Inc. refuse to do the above, this may
       result in a network-wide general creation and moderation strike from the community or other community actions. </p>
    
    <p>Specifically, Stack Exchange Inc. has made <a href="https://meta.stackexchange.com/questions/401324/announcing-a-change-to-the-data-dump-process">recent significant changes to the data-dump process</a>. </p>
       This change was against a clear community consensus, with the downvotes on said post being nearly 11 times more
       numerous than the upvotes, and with hundreds of downvotes. The community has repeatedly broughout up a variety of
       concerns about the change, which have been essentially ignored. The community has clearly communicated why all
       reasons provided for the change are incorrect and in some cases the opposite of those reasons is true.</p>

    <p>Stack Exchange Inc. has gone back on their committment by delaying the posting of the data dump, a delay done
       without good any good rational being provided. This change is also a violation of the Creative Commons BY-SA
       license, the license used by the data dump and all contributions. A violation of said license results in
       termination of this license. In other words, Stack Exchange no longer has license to our contributions.</p>

    <p>Given that Stack Exchange Inc. has continued to use our contributions, has made no public plan to stop doing so,
       and likely will not do so in the future, we are releasing this warning. Should this issue not be fixed before the
       data dump change is implemented, the community may result in a network-wide contribution and moderation community
       strike or other community actions to resolve this issue.</p>

    <p>In addition to the immediate issue of the license violations, the change has also made use of the data dumps
       much more difficult and slower. Not only that, but for the past year, since <a href="https://meta.stackexchange.com/questions/389922/june-2023-data-dump-is-missing">attempting to remove the data dumps
       altogether</a>, Stack Exchange Inc. has consistently lied to and mislead the community. 
    </p>

    <p>
        Meanwhile, as evidenced by <a href="https://meta.stackexchange.com/questions/401499/2024-wearedevelopers-event-summary">a recent company post</a>, the company seems to be ignorarant, intentionally
        or accidently, of the feedback of the community. In addition, the companies recent statements and committments
        are completely different in nature from their recent actions.</p>

    <p>
        Additionally, in the past few years, Stack Exchange Inc. has repeatedly shown disregard for the community,
        including recent AI policies, recent data dump policies, actions taken against Monica Cellio, mass-layoffs,
        as well as many other actions done without good reason, with no discussion or warning, which the vast majority
        of the community has disagreed with. </p>

    <p>This is a call to send a united message to Stack Exchange calling for immediate action.</p>

    <hr>
    <p> This is not a call for:</p>
    <ul>
        <li>A strike of any kind, although this letter does not discourage striking as well.</li>
        <li>Actively harming site, just as by vandalizing.</li>
        <li>Moderator resignations or leaving the site, although this letter does not discourage doing that as well.</li>
        <li>Personal attacks on any person or group of people. </li>
        <li>Deleting your contributions or account, although this letter does not discourage doing that as well.</li>
    </ul>
</section>

<hr>

<%- include('signatories', {signatories}) %>


<hr class="my-5">
